video {
	width: 60%;
	height: auto;
	min-height: 50vh;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px;
	background: #87ceeb;
	margin-left: 20%;
	border: 10px solid rgba(173, 216, 230, 0.8);
}
.audience1 {
	position: absolute;
	margin-top: -15vh;
}
.audience2 {
	position: absolute;
	margin-top: -15vh;
}
